nav {
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0px;
  background: rgb(30, 99, 113);
  z-index: 100;
  .logo {
    a {
      text-decoration: none;
      color: rgb(255, 200, 0);
      font-size: 2rem;
    }
  }
}
