* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(6, 98, 123) !important;
}

.home-container {
  // border: 1px solid white;
  margin: 1rem;
  padding: 0.2rem;
  section.container {
    // border: 1px solid white;
    min-height: 80vh;
    .heading {
      color: white;
      // border: 1px solid white;
      margin: 1rem;
      margin-bottom: 3rem;
      h1 {
        text-align: center;
        color: white;
      }
    }
    .greetings {
      margin: 1rem;
      padding: 1rem;
      // border: 1px solid white;
      div {
        color: aqua;
        font-size: 2rem;
      }
    }
    .main-content {
      box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
      -webkit-box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
      -moz-box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
      width: 70vw;
      margin: 1rem auto;
      margin-bottom: 3rem;
      padding: 0.7rem 0rem;
      
      .range-picker-container {
        span {
          color: white;
          font-size: bold;
          font-size: 1.1rem;
        }
        .range-picker {
          cursor: pointer;
          color: rgb(23, 55, 63);
          border: none;
          padding: 0.6rem 3rem;
          background: rgb(29, 157, 180);
          margin-bottom: 1rem;

          box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
          -webkit-box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
          -moz-box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
          &::placeholder {
            color: white;
          }
        }
      }
      .row-header {
        // background: #000;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgb(255, 255, 255);
        margin: 1rem 0rem;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        h3 {
          margin-left: 1rem;
          color: rgb(99, 222, 235);
        }
        button {
          margin-right: 3.54rem;
          margin-top: 0.4rem;
          margin-bottom: 0.3rem;
          padding: 0.3rem 1rem;
          background: rgb(70, 167, 206);
          border: none;
          cursor: pointer;
          transition: 0.3 sec ease all;
          color: white;
          &:hover {
            background: rgb(26, 176, 235);
          }
        }
      }
      .row-2 {
        // border: 1px solid yellow;
        height: 9rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span{
          color:white;
          font-size: 1.3rem;
          text-align: center;
        }
        h4 {
          color: rgb(71, 145, 154);
          font-size: 2rem;
          margin: 1rem 0rem;
        }
        button {
          margin-top: 0.4rem;
          padding: 0.3rem 1rem;
          background: rgb(32, 218, 104);
          border: none;
          cursor: pointer;
          transition: 0.3 sec ease all;
          color: white;
          &:hover {
            background: rgb(26, 176, 235);
          }
        }
      }

      .row-3 {
        // border: 1px solid yellow;
        // height: 5rem;
        padding: 1rem;

        .list {
          // border: 1px solid red;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.4rem;
          margin: 1rem 0rem;
          border-bottom: 1px solid rgb(172, 172, 172);
          &:nth-last-child(1) {
            border: none;
          }

          .col-1 {
            width: 8rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            .checkbox {
              border: 1px solid rgb(23, 194, 220);
              width: 2rem;
              height: 2rem;
            }

            .main {
              display: block;
              position: relative;
              cursor: pointer;
              margin-right: 0.3rem;
              font-size: 20px;
            }

            /* Hide the default checkbox */
            input[type="checkbox"] {
              visibility: hidden;
            }

            /* Creating a custom checkbox
          based on demand */
            .geekmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              border: 1px solid aquamarine;
            }

            /* Specify the background color to be
          shown when hovering over checkbox */

            /* Specify the background color to be
          shown when checkbox is active */
            .main input:active ~ .geekmark {
              background-color: rgb(13, 94, 208);
            }

            /* Specify the background color to be
          shown when checkbox is checked */
            .main input:checked ~ .geekmark {
              background-color: rgb(6, 225, 241);
            }

            /* Checkmark to be shown in checkbox */
            /* It is not be shown when not checked */
            .geekmark:after {
              content: "";
              position: absolute;
              display: none;
            }

            /* Display checkmark when checked */
            .main input:checked ~ .geekmark:after {
              display: block;
            }

            /* Styling the checkmark using webkit */
            /* Rotated the rectangle by 45 degree and 
          showing only two border to make it look
          like a tickmark */
            .main .geekmark:after {
              left: 8px;
              bottom: 5px;
              width: 6px;
              height: 12px;
              border: solid white;
              border-width: 0 4px 4px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            .details {
              color: white;
            }
          }
          .description {
            font-size: .9rem;
            color: white;
            width: 22%;
          }
          .col-2 {
            display: flex;
            align-items: center;
            button {
              margin-top: 0.4rem;
              width: 8rem;
              padding: 0.3rem 1rem;
              border: none;
              font-weight: bold;
              cursor: pointer;
              transition: 0.3 sec ease all;
              text-transform: capitalize;
              color: white;
            }
            .bgpending {
              background: rgb(229, 207, 34);
            }
            .bgcompleted {
              background: rgb(28, 183, 82);
            }
            .bgdraft {
              background: rgb(14, 115, 162);
              background: rgb(225, 208, 77);
              color: rgb(255, 255, 255);
            }
          }
          .col-3 {
            padding: 0rem 20px;
            button {
              margin-right: 1rem;
              margin-top: 0.4rem;
              padding: 0.3rem 1rem;
              background: rgb(70, 167, 206);
              border: none;
              cursor: pointer;
              transition: 0.1s ease all;
              color: white;
              &:hover {
                background: rgb(26, 176, 235);
                transform: scale(0.9);
              }
              &:nth-child(2) {
                background: rgb(213, 74, 14);
                &:hover {
                  background: rgb(249, 28, 28);
                }
              }
            }
          }
        }

        .noFilter {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1 {
            color: rgb(170, 170, 170);
          }
          button {
            margin-top: 0.4rem;
            padding: 0.3rem 1rem;
            background: rgb(10, 216, 227);
            border: none;
            cursor: pointer;
            color: white;
            font-weight: bold;
            transition: 0.31s ease all;
            &:hover {
              background: rgb(26, 176, 235);
            }
          }
        }
      }
    }
    .Add-button{
      display: flex;
      justify-content: center;
      button{

        margin: 1rem;
        margin-top: 0;
        // border: 1px solid rgb(11, 157, 157);
        padding: 0.2rem 1rem;
        background: none;
        outline: none;
        color: white;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s ease all;
        background: rgb(19, 175, 223);
        &:hover{
          letter-spacing: 3px;
        }
       
      }
      // display: none;
    }
  }
}
// A  D  D    T   A   S   K
.addtask-container {
  // border: 1px solid white;
  // height: 40rem;

  padding: 1rem;
  .container {
    height: 100%;
    .heading {
      display: flex;
      justify-content: center;
      span {
        color: white;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 0px !important;
      }
    }
    .main-content {
      // border-radius: 16px;
      box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
      -webkit-box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
      -moz-box-shadow: -2px 3px 12px 3px rgba(49, 42, 42, 0.75);
      width: 70vw;
      margin: 1rem auto;
      padding: 0.1rem 0.1rem;
      padding-bottom: 5px;
      form {
        padding: 0.2rem 1rem;
        .input {
          margin: 1rem;

          input,
          textarea {
            padding: 1rem 1rem;
            width: 100%;
            background: transparent;
            outline: none;
            // border:1px solid white;
            color: white;
            border: none;
            box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.2),
              inset -2px -2px 3px 0 rgba(255, 255, 255, 0.2);

            &:focus {
              // border: 1px solid rgb(48, 114, 114);
              background: linear-gradient(
                135deg,
                rgba(8, 165, 197, 0.2),
                rgba(9, 174, 239, 0.3)
              );
            }
            &::placeholder {
              color: rgb(186, 186, 186);
            }
          }
        }
        .input-select {
          padding: 0.4rem 0rem;
          color: rgb(186, 186, 186);
          text-transform: capitalize;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.2rem 0.6rem;
          gap: 3rem;

          .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            span {
              padding: 0.2rem 0.7rem;
            }
            input {
              color: rgb(162, 162, 162) !important;
              padding: 0.7rem;
            }
          }
          .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            span {
              padding: 0.2rem 0.7rem;
            }
            input {
              width: 100%;
              margin-left: 0.4rem;
              padding: 0.7rem;
            }
          }
          select {
            border: 1px solid rgb(11, 157, 157);
            padding: 0.4rem 1rem;
            width: 30%;
            background: transparent;
            outline: none;
            color: white;

            option {
              background: #000;
            }
          }
        }

        .radio-buttons {
          margin: 1rem;
          padding-top: 0.4rem;
          padding: 0.2rem 0.6rem;
          color: rgb(186, 186, 186);
          display: flex;
          align-items: center;
          // border: 1px solid aqua;
          span {
            margin-right: 1rem;
            input {
              margin-right: 0.4rem;
            }
          }
        }

        button {
          margin: 1rem;
          margin-top: 0;
          // border: 1px solid rgb(11, 157, 157);
          padding: 0.4rem 1rem;
          width: 95%;
          background: rgb(10, 196, 196);
          background: none;
          outline: none;
          color: white;
          border: none;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
          transition: 0.3s ease all;

          box-shadow: inset 3px 3px 4px 0 rgba(255, 255, 255, 0.2),
            inset -2px -2px 3px 0 rgba(0, 0, 0, 0.2);

          &:hover {
            box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.2),
              inset -2px -2px 3px 0 rgba(255, 255, 255, 0.2);
            letter-spacing: 0.2rem;
          }
        }
      }
    }
  }
}

// media queries

@media screen and (max-width: 768px) {
  .main-content {
    padding: 0.2rem !important;
    width: 100% !important;
    margin-bottom: 12px !important;
    .row-header {
      flex-direction: column;
      .range-picker-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 12px !important;
        .range-picker {
          width: 67% !important;
          padding: 3px !important;
          margin: 0px 0 0 10px !important;
        }
      }
      button {
        margin: 12px 0 !important;
        display: none !important;
      }
    }
   
    .row-3 {
      padding: 0rem !important;
      .list {
        margin: 0rem 0rem 0.3rem 0rem !important;
        padding: .8rem 0.2rem !important;
        .col-1 {
          // width: 4rem!important ;
          font-size: 16px !important;
          padding: 0px !important;
          width: 6rem !important;
          display: flex !important;
          gap: 0.2rem !important;

          span.geekmark {
            width: 1rem !important;
            height: 1rem !important;
            margin-top: 7px !important;
          }

          .details {
            div {
              font-size: 12px !important;
              margin: 0 !important;
            }
          }
        }
        .description {
          display: none;
          font-size: 10px !important;
        }
        .col-2 {
          // width: 4rem!important ;
          button {
            width: 4rem !important;
            padding: 4px !important;
            font-size: 12px;
          }
        }
        .col-3 {
          margin: 0 !important;
          padding: 0 !important;
          button {
            margin: 0 0.2em 0rem 0rem !important;
            padding: 2px !important;
          }
        }
      }

      .col-4 {
        background: #000;
      }
    }

    .row-2{
      span{
        font-size: 1rem;
      }
    }
  }
  .Add-button {
    display: flex;
    justify-content: center;
    button{
      background: rgb(21, 132, 230);
      border:none;
      padding:.3rem .6rem;
      color:white;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .list{
    .description{
      display: block;
      font-size: 13px!important;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .list{
    .description{
      display: block;
      font-size: 13px!important;
    }
  }
}
